<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Dalton Maag - Aktiv Grotesk Bold.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Hairline Italic.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Light Italic.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Light.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Medium.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Thin Italic.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk Thin.ttf</string>
		<string>Dalton Maag - Aktiv Grotesk.ttf</string>
		<string>TypeTogether - Bree Serif Bold.otf</string>
		<string>TypeTogether - Bree Serif Light.otf</string>
		<string>TypeTogether - Bree Serif Th Italic.otf</string>
		<string>TypeTogether - Bree Serif Th.otf</string>
		<string>TypeTogether - Bree Serif.otf</string>
		<string>TypeTogether - BreeSerif-BoldItalic.otf</string>
		<string>TypeTogether - BreeSerif-Italic.otf</string>
		<string>TypeTogether - BreeSerifEb-Italic.otf</string>
		<string>TypeTogether - BreeSerifEb.otf</string>
		<string>TypeTogether - BreeSerifLt-Italic.otf</string>
		<string>TypeTogether - BreeSerifSb-Italic.otf</string>
		<string>TypeTogether - BreeSerifSb.otf</string>
	</array>
</dict>
</plist>
